body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}

img {
        display: block;
}

a {
    text-decoration: none;
}

.container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}

.header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
        display: flex;
        align-items: center;
}

.header-navigatin {
display: flex;
align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding: 24px 0;
        margin-right: 76px;
    }
        
.header-logo-accent {
        color: #2e2f42;
}



.header-menu-list {
display: flex;
align-items: center;
gap: 40px;
}

.header-menu-item {
    
}

.header-menu-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus,
.address-list-contacts:hover,
.address-list-contacts:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
display: flex;
align-items: center;
gap: 40px;
}

.address-list-contacts {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.container-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.hero {
background-color: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    align-items: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        padding: 16px 32px;
        border-radius: 4px;
        align-items: center;
        min-width: 169px;
        height: 56px;
        border: none;
        margin: 0 auto;
        display: block;
}

.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

.container-features {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.features {
        padding: 120px 0
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
width: calc((100% - 3 * 24px) / 4);
}



.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.container-team {
        
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-list {
        background-color: #FFFFFF;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
}

.team-item {
        background-color: #FFFFFF;
        width: calc((100% - 3 * 24px) / 4);
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);               background: #fff;
}

.team-image {

}

.team-name {
        padding: 32px 0;
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
}

.container-portfolio {
        
}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-list {
        display: flex;
                gap: 48px 24px;
                flex-wrap: wrap;

}

.portfolio-item {
        width: calc((100% - 48px) / 3);
}

.portfolio-content {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
        background: #2e2f42;
        padding: 100px 0;
}

.container-footer {
        
}

.footer-logo {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            margin-bottom: 16px;
            display: inline-block;
        
}

.footer-logo-accent {
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #f4f4fd;
}

.footer-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            max-width: 264px;
}


